.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}
.img{
    height: 100%;
    width: 100%;
}
.img0 {
    position: absolute;
    margin-left: 3%;
    background: white;
    height: 30%;
    width: 30%;
}
.img1 {
    position: absolute;
    background: white;
    margin-left: 34%;
    height: 30%;
    width: 30%;
}
.img2 {
    position: absolute;
    background: white;
    margin-left: 65%;
    height: 30%;
    width: 30%;
}
.img3 {
    position: absolute;
    margin-left: 3%;
    margin-top: 36%;
    background: white;
    height: 30%;
    width: 30%;
}
.img4 {
    position: absolute;
    background: white;
    margin-left: 34%;
    margin-top: 36%;
    height: 30%;
    width: 30%;
}
.img5 {
    position: absolute;
    background: white;
    margin-left: 65%;
    margin-top: 36%;
    height: 30%;
    width: 30%;
}

.pagen {
    position: absolute;
    bottom: 5px;
}

.page {
    border: 1px solid #ddd;
    transition: background-color .3s;
    border-radius: 5px;
    color: #ff0000;
    float: left;
    padding: 3px 16px;
    text-decoration: none;
    margin: 0 2px;
}
    .page.active {
        background-color: #4CAF50;
        color: white;
    }

    .page:hover:not(.active) {
        background-color: #ddd;
    }



.nice {
    position: relative;
    margin-top: 15px;
    border-style: solid;
    border-width: 5px;
    margin-left: -7px;
    background-image: linear-gradient(#4189C7, #000000);
    border-bottom: 7px dotted #000;
    box-shadow: inset 0 -3px 0 0 #000, 0 3px 0 0 #000;
}
/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
