﻿@model string
<!DOCTYPE html>
<html>
<head>
    <title>SignalR Simple Chat</title>
    <style type="text/css">
        .container {
            background-color: #99CCFF;
            border: thick solid #808080;
            padding: 20px;
            margin: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div><a href="/Chart">Return</a></div>
        <input type="text" id="message" />
        <input type="button" id="sendmessage" value="Send" />
        <ul id="discussion"></ul>
    </div>

    <script type="text/javascript">

            if (typeof Promise === 'undefined') {
                document.write('<script type="text/javascript" src="scripts/signalr-clientES5-1.0.0-alpha2-final.js"><\/script>');
            }
            else {
                document.write('<script type="text/javascript" src="scripts/signalr-client-1.0.0-alpha2-final.js"><\/script>');
            }

        document.addEventListener('DOMContentLoaded', function () {

            var messageInput = document.getElementById('message');

            startConnection('/chat', function(connection) {
                connection.on('broadcastMessage', function (name, message) {
                    var encodedName = name;
                    var encodedMsg = message;
                    var liElement = document.createElement('li');
                    liElement.innerHTML = '<strong>' + encodedName + '</strong>:&nbsp;&nbsp;' + encodedMsg;
                    document.getElementById('discussion').appendChild(liElement);
                });
            })
            .then(function(connection) {
                console.log('connection started');
                document.getElementById('sendmessage').addEventListener('click', function (event) {
                    connection.invoke('send', @Model, messageInput.value);
                    messageInput.value = '';
                    messageInput.focus();
                    event.preventDefault();
                });
            })
            .catch(error => {
                console.error(error.message);
            });

            function startConnection(url, configureConnection) {
                return function start(transport) {
                    console.log(`Starting connection using ${signalR.TransportType[transport]} transport`)
                    var connection = new signalR.HubConnection(url, {transport: transport});
                    if (configureConnection && typeof configureConnection === 'function') {
                        configureConnection(connection);
                    }

                    return connection.start()
                        .then(function() {
                            return connection;
                        })
                        .catch(function(error) {
                            console.log(`Cannot start the connection use ${signalR.TransportType[transport]} transport. ${error.message}`);
                            if (transport !== signalR.TransportType.LongPolling) {
                                return start(transport + 1);
                            }

                            return Promise.reject(error);
                        });
                }(signalR.TransportType.WebSockets);
            }
        });
    </script>
</body>
</html>>