﻿
<head>
    <meta charset="utf-8" />
    <style>
        .container {
            background-color: #99CCFF;
            border: thick solid #808080;
            padding: 20px;
            margin: 20px;
        }
        * {
            padding: 0;
            margin: 0;
        }

        canvas {
            background: #eee;
            display: block;
            margin: 0 auto;
        }
    </style>

</head>

<div id="react-app">Loading...</div>

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
}
